---
export const partial = true

// astro Content-Type was not one of "multipart/form-data" or "application/x-www-form-urlencoded".
// https://stackoverflow.com/questions/78375098/content-type-was-not-one-of-multipart-form-data-or-application-x-www-form-url
export const prerender = false

import { db, like, Pokemon } from 'astro:db'

const { method, url } = Astro.request

const urlObj = new URL(url)
const query = urlObj.searchParams.get('q') || null
const limit = Number(urlObj.searchParams.get('limit')) || 25
const offset = Number(urlObj.searchParams.get('offset')) || 0

if (method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData()
  const name = formData.get('name')
  const id = pokemon.length + 1

  if (typeof name === 'string') {
    await db.insert(Pokemon).values({ name, id })
  }
}

const pokemon = !query
  ? await db.select().from(Pokemon)
    .limit(limit)
    .offset(offset)
  : await db.select().from(Pokemon)
    .where(
      like(Pokemon.name, `%${query}%`),
    )
    .limit(limit)
    .offset(offset)

const pokeCount = pokemon.length
---

<section
  id="pokemon-list"
  hx-get="/hx/pokemon"
  hx-swap="outerHTML"
  hx-trigger="deletePokemon from:body"
>
  <h2>Pokemon</h2>
  <form
    action="/pokemon"
    method="GET"
    hx-get="/hx/pokemon"
    hx-target="#pokemon-list ul"
    hx-select="#pokemon-list ul"
    hx-swap="outerHTML"
  >
    <label>
      <input type="text" name="q" value={query ? query : ''}>
    </label>
    <button>search</button>
  </form>

  <ul class="w-full grid grid-cols-4 grid-flow-row">
    {
      pokemon.map(({ id, name, sprite, official }) => (
        <li class={name + id}>
          <figure
            hx-on:click="showPokeDialog()"
            hx-get={`/hx/pokemon/${id}`}
            hx-trigger="mousedown"
            hx-target="#poke-dialog article"
            hx-swap="outerHTML"
          >
            <img src={sprite} alt="">
            <figcaption>
              <p>{name} ({id}) {official && '👑'}</p>
            </figcaption>
          </figure>
          <!-- <button -->
          <!-- hx-delete={`/hx/pokemon/${id}`} -->
          <!-- hx-swap="outerHTML" -->
          <!-- > -->
          <!-- delete -->
          <!-- </button> -->
        </li>
      ))
    }

    {
      (pokeCount === limit) ? (
        <li
          hx-get={`/hx/pokemon?${query ? 'q=' + query + '&' : ''}offset=${offset + limit}&limit=${limit}`}
          hx-select="#pokemon-list ul > li"
          hx-trigger="revealed"
          hx-swap="outerHTML"
        >
          {pokeCount} loading...
        </li>
      ) : ''
    }
  </ul>

  <!-- <form -->
  <!-- hx-post="/pokemon" -->
  <!-- hx-swap="outerHTML show:top" -->
  <!-- hx-target="#pokemon-list" -->
  <!-- style="display: grid" -->
  <!-- > -->
  <!-- <label>pokemon -->
  <!-- <input id="name" name="name" required /> -->
  <!-- </label> -->

  <!-- <button type="submit">Add Pokemon</button> -->
  <!-- </form> -->
</section>
